@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&family=Source+Sans+Pro:wght@400;700&display=swap");
@import url("_variables.css");
@import url("_global.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: var(--white);
}
.page-wrap {
  padding-top: 65px;
}
.content-wrap {
  max-width: 1005px;
  margin: 0 auto;
  padding: 0 30px;
}
.mobile-column-direction {
  flex-direction: column;
}
.page-header {
  position: relative;
  min-height: calc(100vh - 65px);
}
.page-header .lang {
  display: none;
}
.menu-icon {
  width: 33px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  position: absolute;
}
.open-icon {
  top: 0;
  right: 0;
  background-image: url("../img/icons/menu.svg");
}
.close-icon {
  top: 65px;
  right: 30px;
  background-image: url("../img/icons/close.svg");
}
.menu-item {
  margin-bottom: 65px;
  list-style: none;
  color: #828282;
}
.menu-item.home {
  color: #090909;
}

.title {
  font-size: 47px;
  line-height: 58px;
  margin-bottom: 23px;
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: var(--white);
  width: 100%;
  padding-top: 65px;
  padding-left: 26px;
  font-size: 34px;
  line-height: 42px;
  transform: translateX(100vh);
  transition: all 0.5sec ease;
}
.mobile-menu .lang {
  display: block;
  align-self: flex-end;
  transform: rotate(90deg);
  color: #828282;
}

.mobile-menu.show {
  transform: none;
  transition: all 0.5sec ease;
}
.desktop-menu {
  display: none;
}

.active {
  text-transform: uppercase;
  color: #070707;
  cursor: pointer;
}
.header-photo {
  margin-top: 37px;
}
section.about {
  padding: 80px 0 75px;
  background-color: var(--section-background);
}
section.skills {
  padding: 85px 0 100px;
}
section.skills .section-title {
  margin-bottom: 50px;
}
section.skills .row {
  margin-top: 70px;
}
.row .item__skill {
  display: flex;
  flex-direction: column;
  height: 206px;
  width: 166px;
  justify-content: space-between;
  align-items: center;
}
.row .item__skill:not(:last-child) {
  margin-bottom: 80px;
}
.item__skill .item-title {
  max-width: 80px;
  max-height: 27px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
  font-weight: 700;
  margin-bottom: 40px;
}
.item__skill .item-img {
  display: flex;
  flex-direction: column;
  width: 89px;
  height: 89px;
  margin: 0 auto 23px;
}
.item__skill .item-img img:not(:last-child) {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.item__skill .item-img img {
  align-self: center;
}
.item__skill .item-rating {
  text-align: center;
}
section.portfolio {
  padding: 81px 0 81px;
  background-color: var(--section-background);
}
.portfolio .section-title {
  margin-bottom: 65px;
}
.portfolio-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.portfolio-block:not(:last-child) {
  margin-bottom: 78px;
}
.portfolio-image {
  width: 316px;
  height: 171px;
  margin: 0 auto 35px;
}
.portfolio-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.portfolio-link {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration-line: underline;
  color: #000000;
}
section.contacts {
  padding: 82px 0 90px;
}
.button {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #000000;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  height: 42px;
  margin-top: 40px;
  margin-bottom: 48px;
}

.chat-suggestion {
  color: #090909;
}
.like-me-on {
  color: #828282;
  margin-top: 48px;
}
.social-networks {
  display: flex;
  justify-content: space-around;
}

/* -------media querey -----*/

@media screen and (min-width: 993px) {
  .page-wrap {
    padding-top: 0;
  }
  .row {
    justify-content: space-between;
  }
  .desktop-menu {
    display: block;
    height: 88px;
    border-bottom: 1px solid #828282;
  }
  .menu-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
  }
  .menu-list a {
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    text-decoration: none;
    font-weight: 600;
  }
  .menu-list a:hover {
    color: #070707;
  }
  .page-header {
    min-height: 100vh;
  }

  .open-icon,
  .mobile-menu {
    display: none;
  }
  .mobile-column-direction {
    flex-direction: row;
  }
  .page-header .lang {
    display: block;
    transform: rotate(-90deg);
    color: #828282;
    margin-bottom: 20px;
    margin-right: -20px;
  }
  .d-header {
    margin: 40px 0 30px;
    align-items: flex-end;
  }
  .d-header .title {
    margin-bottom: 0;
  }

  .header-photo img {
    margin: 0 auto;
  }
  section.about {
    padding: 120px 0 110px;
    margin-top: 105px;
  }
  section.skills {
    padding: 90px 0 110px;
  }
  section.skills .section-title {
    margin-bottom: 70px;
  }
  section.skills .row {
    margin-top: 85px;
    gap: 40px;
  }
  .row .item__skill {
    margin-bottom: 0;
  }
  section.portfolio {
    padding: 112px 0 96px;
  }
  .portfolio .section-title {
    margin-bottom: 47px;
  }
  .portfolio-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 99px;
  }
  .portfolio-image {
    width: 936px;
    height: 522px;
    margin: 0 auto 45px;
  }
  section.contacts {
    padding: 114px 0 123px;
  }
  .contacts .section-text {
    display: flex;
    flex-direction: column;
  }
  .button {
    width: 180px;
    height: 42px;
    margin-top: 30px;
    margin-bottom: 86px;
    align-self: center;
  }
}
